@model Car
<html>
<body>
    <form asp-controller="Cars" asp-action="Get" method="get">
        <a asp-controller="Cars" asp-action="Index">Get all</a>
        <h4>@Model.Brand</h4><br />
        <h4>@Model.Category.Name</h4><br />
        <h4>@Model.Model</h4><br />
        <h4>@Model.Number</h4><br />
        <h4>@Model.ReleaseYear</h4><br />
    </form>
</body>
</html>